:root{
    --content-extra-padding:10px;
}
*{
    box-sizing: border-box;
}

html{
    height:100%;
    width: 100%;
}

ul{
    padding:0;
    margin:0;
}
body{
    margin:0;
    height:100vh;
    display: grid;
    grid-template-columns: minmax(200px,250px) 1fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas:"sidebar header"
                        "sidebar content";
    font-family: 'Roboto', sans-serif;
}

.header{
    grid-area: header;
    padding:0 1vw 0 1vw;
    display:grid;
    grid-template-rows: 0.5fr 1fr;
    box-shadow: 0px 8px 10px -5px  rgb(32, 32, 32);
    z-index: 10;
}

.sidebar{
    background-color: #0092D0;
    grid-area:sidebar;
    color:white;
    display: grid;
    grid-template-columns:20px 1fr;/*extra column to make a gap on left side*/
    grid-template-rows: 100px 200px 100px;
    grid-template-areas:    "sidebar__logo sidebar__logo"
                            ". sidebar__menu"
                            ". sidebar__site-help";
    font-weight: 500;
}

.sidebar li{
    display: flex;
    align-items: center;
    gap:10px;
    
}
.material_icons{
    color:white;
}

.content{
    background-color: #E1E7EF;
    grid-area: content;
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 1fr;
    gap:10px;
}
.content__projects{
    display: flex;
    flex-direction: column;
}

.project{
    padding:10px;
    border:none;
    border-radius: 5px;
    border-left: 5px solid #F2B13C;
}
.content__projects ul{
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: repeat(auto-fit,100px);
    gap: 10px;
    grid-column: 1/2;
    list-style:none;
} 

#project-list li{
    background-color: white;
}

.content__extra{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
    gap:5px;
}

.content__trending .content__announcements{
    display:flex;
    flex-direction: column;
    height: 100%;
}

.content__announcements ul{
    list-style:none;
    overflow: hidden;
    background-color: white;
    padding:var(--content-extra-padding);
}

.content__announcements li{
    height:100px;
    overflow: hidden;
}

.content__announcements .announcement{
    border-bottom: 2px solid #D1D1D1;
}

.content__trending ul{
    list-style: none;
    overflow:hidden;
    background-color: white;
    padding:var(--content-extra-padding);
}
.sidebar ul{
    list-style: none;
    margin:0;
    padding:0;
}

.sidebar__logo{
    grid-area:sidebar__logo;
    font-size: 1.8em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: start;
}

#dashboard{
    font-size: 1.8em;
}

.sidebar__menu{
    grid-area:sidebar__menu;
}

#sidebar__icon{
    font-size: 2em;;   
}

.sidebar__site-help{
    grid-area:sidebar__site-help;
}

.header__top{
    display:grid;
    grid-template-columns: 1fr 0.4fr;
    
}

.header__top>.top__left{
    display: flex;
    justify-content: start;
    align-items: center;
    grid-column: 1/2;
}
.top__left input[type=text]{
    flex:1;
    border-radius: 10px;
    border:none;
    background-color: #E1E7EF;
    height:2em;
    padding:5px;
    overflow: hidden;
}
.header__top>.top__right{
    display: flex;
    gap:20px;
    justify-content: end;
    align-items: center;
    grid-column: 2/3;
}

.header__bottom{
    display:grid;
    grid-template-columns: 1fr 0.4fr;
}

.header__bottom>.bottom__left{
    grid-column: 1/2;
    display: flex;
    align-self: center;
}

.header__bottom>.bottom__right{
    grid-column:2/3;
    display: flex;
    justify-content: end;
    align-self: center;
    gap:3vw;
}

.button-normal{
    background-color: #0092D0;
    color:white;
    border: none;
    border-radius: 20px;
    height:3em;
    width:110px;
    font-weight: 600;
}
.hello-user{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}
.hello-user>p{
    margin:0;
}
.hello-user p:first-child{
    font-weight: bold;
    font-size: 0.8em;
}
.hello-user p:nth-child(2){
    font-size: 1.2em;
    font-weight: bold;
}